* {
    margin: 0;
}

body {
    background-color:#3d357e;
}

.foto {
    width: 500px;
}

.logo {
    text-align: center; 
}

.b24-form-control.b24-form-control-not-empty {
   display: none;  
}
   

@media (max-width: 768px) {
    body {
        padding: 0 20px;
    }
    .foto {
        width: 100%;
        max-width: 500px;  
    }
}

@media (max-width: 480px) {
    .foto {
        width: 100%;
        max-width: 500px; 
    }
}
